# 1. Import libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

# 2. Turn project path into string

In [2]:
path = r'/Users/aibee/Desktop/CareerFoundry/4. Python Fundamentals for Data Analysts/24-05-2022 Instacart Basket Analysis'

# 3. Import Data

In [3]:
# import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [4]:
# import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

# 4. Data Consistency checks

In [5]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# 5. Cheaking for Mix data using a Test code

In [6]:
# create a dataframe
df_test = pd.DataFrame()

In [7]:
# Create a mix data type column
df_test['mix'] = ['a','b',1,True]

In [8]:
# check for mixed types (using test code)
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

# 6. Addressing missing values

In [9]:
# check for missing data in the 'product_name' column
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [10]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [11]:
#fill in with the mean or median value
#df['column with missings'].fillna(mean value, inplace=True)

#df['column with missings'].fillna(median value, inplace=True)

In [12]:
#checking the rows of the df
df_prods.shape

(49693, 5)

In [13]:
df_nan.shape

(16, 5)

In [14]:
# remove missing data
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [15]:
df_prods_clean.shape

(49677, 5)

In [16]:
# Another way for dropping missing data
#df_prods.dropna(inplace = True)
#If you wanted to use this command to drop only the NaNs from a particular column, the code would look like this:
#df_prods.dropna(subset = [‘product_name’, inplace = True)

# 7. Duplicates

In [17]:
# finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [18]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [19]:
# dropping duplicate
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [20]:
df_prods_clean_no_dups.shape

(49672, 5)

# 8. Export Data

In [21]:
#df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# Task

In [22]:
# Task 1. Run the df.describe() function on your df_prods dataframe.
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

#### All the values are in consistence as expected but for the maximum price which is either ridiculously high or indicates another thing entirely

In [23]:
# Task 2. Check for mixed-type data in your df_ords dataframe
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

#### There is no mixed-type data found in the df_ords dadaframe

In [24]:
# Task 3. Run a check for missing values in your df_ords dataframe
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [25]:
# create a dataframe for the missing values
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [26]:
df_ords_nan

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

#### The missing value might be because the bulk of the customer are first timer that have never place an order before. It might be ideal to create another column of boolean data type to distinguish between new and old(returning) customers

In [27]:
# Task 4. Address the missing values using an appropriate method.

In [28]:
# create a new dataframe and set a new column for customer
df_ords_clean = df_ords

In [29]:
df_ords_clean['new_customer'] = df_ords['days_since_prior_order'].isnull() == True

In [30]:
df_ords_clean

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0,False
3421079,1854736,206209,prior,11,4,10,30.0,False
3421080,626363,206209,prior,12,1,12,18.0,False
3421081,2977660,206209,prior,13,1,12,7.0,False
3421082,272231,206209,train,14,6,14,30.0,False

#### This method will allow meto identify new and old customer

In [31]:
# Task 5. Run a check for duplicate values in your df_ords data.

In [32]:
df_ords_dups = df_ords_clean[df_ords_clean.duplicated()]

In [33]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order, new_customer]
Index: []

#### There is no duplicate in the "df_ords_clean" dataset

In [34]:
# Task 6. Export your final, cleaned df_prods and df_ords data as “.csv” files in your

In [35]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_cleaned.csv'))

In [41]:
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'order_cleaned.csv'))

In [44]:
df_ords_clean.shape

(3421083, 8)