# 1. Import libraries

In [1]:
import os
import numpy as np
import pandas as pd

# 2. Set path

In [2]:
# Set path
path = r'/Users/aibee/Desktop/CareerFoundry/4. Python Fundamentals for Data Analysts/24-05-2022 Instacart Basket Analysis'

# 3. Import the Data

In [3]:
# Import the existing data 

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [5]:
# check the shape of the imported file
df_ords_prods_combined.shape

(32640698, 10)

In [6]:
# Import the existing data 
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = None)

In [7]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods_cleaned.shape

(49672, 6)

# 4. Merging Data

In [9]:
# drop the '_merge' column from 'df_orders_products_combined' dataframe
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [10]:
# drop the  'Unnamed: 0' column from the 'df_prods_cleaned' dataframe
df_prods_cleaned = df_prods_cleaned.drop(columns = ['Unnamed: 0'])

In [11]:
#Merging
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods_cleaned, on = 'product_id', indicator = True)

In [12]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [13]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

In [14]:
df_ords_prods_merged.shape

(32404859, 14)

# 5. Export Data

In [15]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))