# 1. Import libraries

In [1]:
import os
import numpy as np
import pandas as pd

# 2. Set path

In [2]:
path = r'/Users/aibee/Desktop/CareerFoundry/4. Python Fundamentals for Data Analysts/24-05-2022 Instacart Basket Analysis'

# 3. Import Data

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df = ords_prods_merge

# 4. Aggregating data

In [5]:
#to aggregate data, start by grouping then aggregating
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### The entire dataframe includes more departments than the subset. Also, the range of the mean for the entire dataframe is 15 to 30. While, the range of mean for the subset is 11 to 19.

# 5. creating a loyalty flag

In [6]:
# creating a new column for loyalty
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
#removing maximum number of roles for display
pd.options.display.max_rows = None

In [8]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,10
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,77,7,9.0,both,10
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,77,7,9.0,both,10
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,10
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,77,7,9.0,both,22
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,77,7,9.0,both,22
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,22
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,22
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,77,7,9.0,both,22
15,2293453,19,2,5,14,6.0,196.0,3.0,0.0,Soda,77,7,9.0,both,9
16,1973799,19,5,6,12,8.0,196.0,15.0,1.0,Soda,77,7,9.0,both,9
17,532817,19,7,4,17,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,9
18,1573906,21,10,3,10,6.0,196.0,2.0,0.0,Soda,77,7,9.0,both,33
19,1593000,31,10,3,8,7.0,196.0,17.0,0.0,Soda,77,7,9.0,both,20
20,2231262,31,17,3,11,8.0,196.0,14.0,1.0,Soda,77,7,9.0,both,20
21,2580647,43,6,4,16,4.0,196.0,9.0,0.0,Soda,77,7,9.0,both,11
22,2187180,43,9,4,12,3.0,196.0,1.0,1.0,Soda,77,7,9.0,both,11
23,2497897,52,1,1,9,NaN,196.0,4.0,0.0,Soda,77,7,9.0,both,27
24,1318871,52,2,1,10,7.0,196.0,5.0,1.0,Soda,77,7,9.0,both,27
25,1261384,52,3,1,10,7.0,196.0,3.0,1.0,Soda,77,7,9.0,both,27
26,580568,52,5,2,10,8.0,196.0,6.0,1.0,Soda,77,7,9.0,both,27
27,2428073,52,7,2,7,8.0,196.0,5.0,1.0,Soda,77,7,9.0,both,27
28,342306,52,9,1,11,7.0,196.0,5.0,1.0,Soda,77,7,9.0,both,27
29,1520353,52,10,2,10,8.0,196.0,4.0,1.0,Soda,77,7,9.0,both,27
30,2542086,52,11,2,9,7.0,196.0,3.0,1.0,Soda,77,7,9.0,both,27
31,944694,52,12,1,16,6.0,196.0,7.0,1.0,Soda,77,7,9.0,both,27
32,1268191,52,15,2,11,8.0,196.0,3.0,1.0,Soda,77,7,9.0,both,27
33,1122089,52,17,2,10,6.0,196.0,4.0,1.0,Soda,77,7,9.0,both,27
34,1498922,52,18,2,10,14.0,196.0,6.0,1.0,Soda,77,7,9.0,both,27
35,180919,52,19,3,8,8.0,196.0,4.0,1.0,Soda,77,7,9.0,both,27
36,2695875,52,21,5,10,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,27
37,3205960,67,1,3,11,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,24
38,970922,67,2,1,15,5.0,196.0,2.0,1.0,Soda,77,7,9.0,both,24
39,596585,67,3,1,13,7.0,196.0,2.0,1.0,Soda,77,7,9.0,both,24
40,2037087,67,4,2,9,8.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
41,2474111,67,5,3,14,8.0,196.0,2.0,1.0,Soda,77,7,9.0,both,24
42,1568481,67,6,3,12,7.0,196.0,2.0,1.0,Soda,77,7,9.0,both,24
43,2048527,67,8,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
44,2389031,67,9,2,14,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
45,2378562,67,10,1,10,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
46,1515698,67,11,1,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
47,1928050,67,12,2,12,8.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
48,1949274,67,13,1,10,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
49,551869,67,14,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
50,768572,67,16,4,10,9.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
51,150528,67,18,5,16,4.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
52,29758,67,19,0,14,9.0,196.0,2.0,1.0,Soda,77,7,9.0,both,24
53,1558976,67,21,1,9,5.0,196.0,2.0,1.0,Soda,77,7,9.0,both,24
54,863974,67,22,1,11,14.0,196.0,3.0,1.0,Soda,77,7,9.0,both,24
55,2308399,67,23,1,14,14.0,196.0,1.0,1.0,Soda,77,7,9.0,both,24
56,2759128,81,3,1,9,14.0,196.0,2.0,0.0,Soda,77,7,9.0,both,7
57,1812985,81,5,2,20,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,7
58,1889835,82,1,3,15,NaN,196.0,6.0,0.0,Soda,77,7,9.0,both,19
59,499460,82,3,5,10,5.0,196.0,2.0,1.0,Soda,77,7,9.0,both,19
60,2728456,82,4,0,11,16.0,196.0,1.0,1.0,Soda,77,7,9.0,both,19
61,2653743,82,6,4,9,13.0,196.0,5.0,1.0,Soda,77,7,9.0,both,19
62,1358880,82,9,1,10,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,19
63,343588,82,10,2,11,1.0,196.0,1.0,1.0,Soda,77,7,9.0,both,19
64,3034663,82,15,2,11,12.0,196.0,1.0,1.0,Soda,77,7,9.0,both,19
65,147262,82,18,1,13,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,19
66,3144004,82,19,2,15,8.0,196.0,1.0,1.0,Soda,77,7,9.0,both,19
67,2126069,98,3,0,9,25.0,196.0,7.0,0.0,Soda,77,7,9.0,both,14
68,2210120,98,7,5,14,5.0,196.0,1.0,1.0,Soda,77,7,9.0,both,14
69,681011,98,9,3,9,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,14
70,2846344,98,11,4,13,15.0,196.0,2.0,1.0,Soda,77,7,9.0,both,14
71,747431,98,12,6,13,30.0,196.0,4.0,1.0,Soda,77,7,9.0,both,14
72,2383054,98,13,4,11,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,14
73,1993729,98,14,5,8,8.0,196.0,2.0,1.0,Soda,77,7,9.0,both,14
74,1403849,109,3,3,17,9.0,196.0,5.0,0.0,Soda,77,7,9.0,both,6
75,520620,120,1,3,11,NaN,196.0,2.0,0.0,Soda,77,7,9.0,both,3
76,3273029,120,3,2,8,19.0,196.0,2.0,1.0,Soda,77,7,9.0,both,3
77,1861943,185,2,1,12,25.0,196.0,10.0,0.0,Soda,77,7,9.0,both,6
78,2040988,195,1,1,14,NaN,196.0,2.0,0.0,Soda,77,7,9.0,both,58
79,1680569,195,8,1,9,4.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
80,276171,195,19,5,11,3.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
81,2744976,195,22,5,10,7.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
82,2781919,195,25,1,14,4.0,196.0,1.0,1.0,Soda,77,7,9.0,both,58
83,1738718,195,31,2,8,4.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
84,3058369,195,34,3,10,6.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
85,1485596,195,37,2,15,0.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
86,417035,195,40,3,16,2.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
87,1615297,195,47,5,10,2.0,196.0,2.0,1.0,Soda,77,7,9.0,both,58
88,1765587,195,52,3,12,2.0,196.0,3.0,1.0,Soda,77,7,9.0,both,58
89,745908,195,57,4,11,3.0,196.0,3.0,1.0,Soda,77,7,9.0,both,58
90,2505656,222,17,2,12,1.0,196.0,2.0,0.0,Soda,77,7,9.0,both,70
91,3268370,222,38,5,15,1.0,196.0,6.0,1.0,Soda,77,7,9.0,both,70
92,2016711,290,9,5,19,6.0,196.0,8.0,0.0,Soda,77,7,9.0,both,51
93,2706088,290,28,6,10,7.0,196.0,16.0,1.0,Soda,77,7,9.0,both,51
94,1952286,331,6,5,16,30.0,196.0,8.0,0.0,Soda,77,7,9.0,both,8
95,3226575,360,1,5,12,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,3
96,1469869,377,3,5,17,3.0,196.0,9.0,0.0,Soda,77,7,9.0,both,3
97,1927023,387,2,4,10,22.0,196.0,3.0,0.0,Soda,77,7,9.0,both,8
98,858092,420,4,1,19,30.0,196.0,2.0,0.0,Soda,77,7,9.0,both,22
99,119314,420,5,3,19,16.0,196.0,2.0,1.0,Soda,77,7,9.0,both,22

In [9]:
# using the loc() function to group the customers
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
#check the average price of product purchase by the customer groups
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','max','min']})

                     prices
                       mean      max  min
loyalty_flag
Loyal customer    10.386336  99999.0  1.0
New customer      13.294670  99999.0  1.0
Regular customer  12.495717  99999.0  1.0

### On the average, loyal customers purchase the cheapest products, followed by regular and new customers

# 6. Spender Flag

In [12]:
#create a new column for average prices for each user
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
#deriving new column with loc
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spender_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spender_flag'] = 'Low spender'

In [14]:
ords_prods_merge['spender_flag'].value_counts(dropna = False)

Low spender     31770742
High spender      634117
Name: spender_flag, dtype: int64

# 7. Frequency Flag

In [15]:
#create a new column according to median since last order
ords_prods_merge['median_order_duration'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [16]:
#deriving new column with loc
ords_prods_merge.loc[ords_prods_merge['median_order_duration'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_order_duration'] > 10) & (ords_prods_merge['median_order_duration'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_order_duration'] < 10, 'frequency_flag'] = 'Frequent customer'

In [17]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        20287988
Regular customer          7208564
Non-frequent customer     3636437
NaN                       1271870
Name: frequency_flag, dtype: int64

### The frequent customers are the most customers purchasing from the store.